@charset "utf-8";
*{
    margin:0;
    padding:0;
}
body{
    background-color:#ddd;
    width:100%;
}
/*------------------------------------------------------*/
#sotowaku{
    display:flex;
    justify-content: center;
    margin-top:50px;
}
#sotowaku_cate{
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.box{
    background-color:#fff;
    cursor:pointer;
    margin-right:30px;
    width:20%;
}
.box:last-child{
    margin-right:0;
}
.box input[type="submit"]{
    padding:5px;
    width:100%;
    height:40px;
    background-color:#ddc478;
    border:none;
    border-radius:2px;
    box-shadow:0 0 0 1px #f6aa5f;
}
figure{
    margin:15px;
}
img{
    width:130px;
}
.fig_cate{
}
.fig_cate img{
    width:90%;
    height:150px;
    display:block;
    margin:0 auto;
}
.fig_cate figcaption{
    text-align:center;
    font-weight:bold;
    font-size:30px;
    border-bottom:1px solid #ddd;
    margin-bottom:15px;
}
.syo_fig figcaption{
    font-size:14px;
    font-weight:bold;
    height:40px;
    line-height:30px;
}
.nokaigyo{
    display:inline-block;
}
.syohin_box{
    background-color:#fff;
    margin-right:30px;
    width:20%;
}
.syohin_box img{
    width:90%;
    height:150px;
    display:block;
    margin:0 auto;
    margin-bottom:20px;
}
.syohin_box:last-child{
    margin-right:0;
}
.syohin_box input[type="submit"]{
    cursor:pointer;
    padding:5px;
    width:100%;
    height:40px;
    background-color:#ddc478;
    border:none;
    border-radius:2px;
    box-shadow:0 0 0 1px #f6aa5f;
    margin:20px 0;
}
/*ec_header---------------------------------------------*/
header{
    background-color:#001a33;
    height:40px;
    padding-top:10px;
    margin-bottom:30px;
}
header ul li{
    list-style-type:none;
}
header .cate_li{
    text-align:center;
    cursor:pointer;
    color:white;
    line-height:30px;
}
header #logo{
    margin-left:20px;
}
header #logo img{
    display:block;
    height:30px;
    width:120px;
    box-shadow:0 0 0 0.5px #000;
}
/*ドロップダウンメニュー*/
ul.menu li{
    float:left;
    width:120px;
    height:30px;
    position:relative;
    margin-right:20px;
}
ul.menu li a{
    display:block;
    width:100%;
    height:100%;
    line-height:30px;
    text-indent:17px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    border-radius:3px;
}
ul.menu li:hover{
    box-shadow:0 0 0 1px #fff;
    border-radius:2px;
}
ul.menu li ul.sub{
    position:absolute;
    background-color:white;
}
ul.menu li ul.sub li{
    box-shadow:none;
    margin-right:0px;
}
ul.menu li ul.sub li a{
    color:#000;
}
ul.menu{
    zoom:1;
}
ul.menu:after{
    height:0;
    visibility:hidden;
    content:".";
    display:block;
    clear:both;
}
/*indexpage---------------------------------------------------*/
#index_body{
    background-color:#fff;
}
#index_box{
    width:300px;
    box-shadow:0 0 0 3px #ddd;
    margin:0 auto;
    padding:20px 10px;
    border-radius:5px;
}
#index_box p{
    font-size:13px;
    font-weight:bold;
    line-height:25px;
}
#index_box p:last-child{
    font-size:12px;
    font-weight:normal;
    margin-top:15px;
}
#index_box h1{
    line-height:60px;
}
#index_box input[type="text"],input[type="password"]{
    width:290px;
    height:30px;
    margin-bottom:10px;
}
#index_box input[type="submit"]{
    width:294px;
    height:35px;
    background-color:#ddc478;
    border:none;
    border-radius:2px;
    box-shadow:0 0 0 1px #f6aa5f;
}
#index_box2{
    width:330px;
    margin:0 auto;
    padding:20px 10px;
}
#index_box2 a{
    color:inherit;
    text-decoration:none;
}
#index_box2 button{
    cursor:pointer;
    width:330px;
    height:35px;
}
#index_box2 p{
    text-align:center;
}
/*regist---------------------------------------*/
#regist_box{
    width:300px;
    box-shadow:0 0 0 3px #ddd;
    margin:0 auto;
    padding:20px 10px;
    border-radius:5px;
}
#regist_box span{
    font-size:13px;
    font-weight:bold;
    line-height:25px;
}
#regist_box p{
    font-size:12px;
    margin-top:15px;
}
#regist_box h1{
    line-height:70px;
}
#regist_box div{
    font-size:13px;
    margin-bottom:15px;
}
#regist_box p span{
    margin-right:38px;
}
#regist_box input[type="text"],input[type="password"]{
    width:290px;
    height:30px;
    margin-bottom:10px;
}
#regist_box input[type="submit"]{
    width:294px;
    height:35px;
    background-color:#ddc478;
    border:none;
    border-radius:2px;
    box-shadow:0 0 0 1px #f6aa5f;
}
/*cart-----------------------------------------------------*/
#cart_body{
    background-color:#fff;
}
#cart_body_box{
    width:100%;
    position:relative;
    margin-left:70px;
}
#cart_box{
    width:60%;
    float:left;
}
#cart_box2{
    width:20%;
    border-radius:5px;
    box-shadow:0 0 0 3px #ddd;
    position:absolute;
    top:55px;
    right:12%;
    padding:12px;
}
#cart_box2 input[type="submit"]{
    width:100%;
    height:20px;
    background-color:#ddc478;
    border:none;
    border-radius:2px;
    box-shadow:0 0 0 1px #f6aa5f;
}
#cart_box .hako {
    border-top:3px solid #ddd;
    clear:both;
    padding:10px;
}
#cart_box .hako span{
    display:block;
    float:left;
}
#cart_box .hako span:first-child{
    margin-right:1%;
}
#cart_box .hako span:nth-child(2){
    width:55%;
    line-height:70px;
    font-size:20px;
}
#cart_box .hako span:nth-child(3){
    width:15%;
    line-height:70px;
    font-size:15px;
}
#cart_box .hako span:nth-child(4){
    width:30%;
}
#cart_box .hako span:nth-child(5){
    width:30%;
    border:none;
}
.redmoji{
    color:red;
}
#cart_box2 a{
    font-size:22px;
    font-weight:bold;
}
#cart_box2 p{
    font-size:15px;
    margin-top:10px;
    border-top:1px solid #ddd;
    line-height:40px;
}
#cart_box3{
    width:20%;
    border-radius:5px;
    box-shadow:0 0 0 3px #ddd;
    position:absolute;
    top:55px;
    left:32%;
    padding:12px;
}
#cart_box3 a{
    font-size:30px;
    font-weight:bold;
}
#cart_box3 p{
    font-size:15px;
    margin-top:10px;
    border-top:1px solid #ddd;
    line-height:40px;
}
/*history-----------------------------------------------*/
#history_box{
    background-color:#fff;
    width:70%;
    float:left;
    margin-left:50px;
}
.h1_mar{
    margin-left:50px;
}
.his_hako{
    border-top:3px solid #ddd;
    clear:both;
    padding:10px;
}
.his_hako span{
    display:block;
    float:left;
    margin-right:10px;
}
.his_hako span:first-child{
}
.his_hako span:nth-child(2){
}
.his_hako span:nth-child(3){
    line-height:20px;
    font-size:20px;
    font-weight:bold;
}
.his_hako .his_img img{
    width:170px;
    height:130px;
    box-shadow:0 0 0 1px #ddd;
}
.his_hako span:last-child{
    line-height:40px;
    font-size:20px;
}
/*konyu--------------------------------------------*/
#konyu_body{
    background-color:white;
}
.konyu{
    margin:0 auto;
    width:50%;
    border-radius:5px;
    box-shadow:0 0 0 3px #ddd;
    padding:12px;
    text-align:center;
}
.konyu input[type="submit"]{
    margin-top:20px;
    width:80%;
    height:40px;
    background-color:#ddc478;
    border:none;
    border-radius:2px;
    box-shadow:0 0 0 1px #f6aa5f;
}
.konyu input[type="submit"]:last-child{
    width:80%;
    height:40px;
    background-color:#ddd;
    border:none;
    border-radius:2px;
    box-shadow:0 0 0 1px #f6aa5f;
}